@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #070712;
  --color-foreground: rgb(255, 255, 255);
  --color-primary: #FC4928;
  --color-secondary: #FF9029;
  
  --font-glash-grotesk: 'Clash Grotesk', sans-serif;
  
  --animate-zoom-fade-in: zoomFadeIn 1s ease-in-out;
  --animate-fade-in-translate-up: fadeInTranslateUp 1s ease-in-out forwards;
  --animate-fade-in-translate-up-2: fadeInTranslateUp 1s ease-in-out 1s forwards;
  --animate-fade-in-translate-up-3: fadeInTranslateUp 1s ease-in-out 2s forwards;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
